//- root qr.pug 0-lvl
//-
//- 	FUNKTIONIERT NICHT
//-		LOGGT SICH MIT DER FUNCTNIONS DOMAIN EIN 
//- 	SESSION GEHT BEIM REDIRECT VERLOREN
//-
doctype html
html(lang="de")
	if null != cre
		head
			title #{hat.title}
			link(rel="shortcut icon" href=hat.fav type="image/x-icon")
			link(rel="icon"	ref=hat.fav type="image/x-icon")
			script(type='text/javascript' src='https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js')
			script(type='text/javascript' src='https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js')
			script(type='text/javascript').
				firebase.initializeApp({
					apiKey: "#{cre.apiKey}",
					authDomain: "#{cre.authDomain}",
					projectId: "#{cre.projectId}"
				});
				const a = firebase.auth();
				a.signInWithEmailAndPassword('#{cre.mail}','#{cre.pass}').catch(function(error){
					window.location.replace('#{route.error}')
				});
				a.onAuthStateChanged(function(u){
					if(u){
						window.user = u;
						console.log('User logged In!')
					//	window.location.replace('#{route.qr}')
					}else{
						window.location.replace('#{route.error}')
					}
				});
	else
		head
			script(type='text/javascript').
				window.location.replace('#{route.error}')